{% render 'partials/head.liquid' %}

  <main>  
    <article class="front">
      <img src="/DUCK.svg" alt="duck">
      <h1>{{ person.bio }}</h1>
      <button>START</button>
    </article>

    <article class="back">
        <h2>{{ person.name }}</h2>
        <p>{{ person.custom.loves }}</p>
        <h3>about</h3>
        <dl>
          <dt>date of birth</dt>
          <dd>{{ person.birthdate}}</dd>

          <dt>located</dt>
          <dd>Amsterdam</dd>

          <dt>Skill set</dt>
          <dd>frontend design & development</dd>
        </dl>
        <button>BACK</button>
    </article>
  </main>

{% render 'partials/foot.liquid' %}


{% comment %} {{ person.name }} {% endcomment %}